body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.btn:focus {
  outline: none;
  box-shadow: none;
}
th {
  align-items: center;
  text-align: center;
}
td {
  align-items: center;
  text-align: center;
  justify-items: center;
}
img {
  height: 100px;
  width: 100px;
  object-fit: contain;
}
